In [5]:
import numpy as np
import pandas as pd
import json

In [6]:
def read_data(path):
    '''
    this function will read the txt file which is a line-delimited json file and produce a pandas dataframe.
    
    '''
    my_list =[]
    with open(path) as f:
        for line in f:
            json_content = json.loads(line)
            my_list.append(json_content)
    #df = pd.DataFrame(my_list) 
    return(pd.DataFrame(my_list))

In [7]:
df = read_data('data/transactions.txt')

In [8]:
df.head()

,accountNumber,accountOpenDate,acqCountry,availableMoney,cardCVV,cardLast4Digits,cardPresent,creditLimit,currentBalance,currentExpDate,...,merchantName,merchantState,merchantZip,posConditionCode,posEntryMode,posOnPremises,recurringAuthInd,transactionAmount,transactionDateTime,transactionType
0,733493772,2014-08-03,US,5000.00,492,9184,False,5000.0,0.00,04/2020,...,Lyft,,,01,05,,,111.33,2016-01-08T19:04:50,PURCHASE
1,733493772,2014-08-03,US,4888.67,492,9184,False,5000.0,111.33,06/2023,...,Uber,,,01,09,,,24.75,2016-01-09T22:32:39,PURCHASE
2,733493772,2014-08-03,US,4863.92,492,9184,False,5000.0,136.08,12/2027,...,Lyft,,,01,05,,,187.40,2016-01-11T13:36:55,PURCHASE
3,733493772,2014-08-03,US,4676.52,492,9184,False,5000.0,323.48,09/2029,...,Lyft,,,01,02,,,227.34,2016-01-11T22:47:46,PURCHASE
4,733493772,2014-08-03,US,4449.18,492,9184,False,5000.0,550.82,10/2024,...,Lyft,,,01,02,,,0.00,2016-01-16T01:41:11,ADDRESS_VERIFICATION

In [9]:
df.shape

(641914, 29)

In [10]:
df.replace(r'^\s*$', np.nan, regex=True, inplace=True) # Replacing blank values with nan.

In [11]:
df.info() # this would give us a quick description of the data, in particular the total number of observations, and each attribute's type and number of non-null values.
# There are 641914 instances in the dataset. We have some numerical attributes like

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641914 entries, 0 to 641913
Data columns (total 29 columns):
accountNumber               641914 non-null object
accountOpenDate             641914 non-null object
acqCountry                  638001 non-null object
availableMoney              641914 non-null float64
cardCVV                     641914 non-null object
cardLast4Digits             641914 non-null object
cardPresent                 641914 non-null bool
creditLimit                 641914 non-null float64
currentBalance              641914 non-null float64
currentExpDate              641914 non-null object
customerId                  641914 non-null object
dateOfLastAddressChange     641914 non-null object
echoBuffer                  0 non-null float64
enteredCVV                  641914 non-null object
expirationDateKeyInMatch    641914 non-null bool
isFraud                     641914 non-null bool
merchantCategoryCode        641914 non-null object
merchantCity                0 non-null float64
merchantCountryCode         641290 non-null object
merchantName                641914 non-null object
merchantState               0 non-null float64
merchantZip                 0 non-null float64
posConditionCode            641627 non-null object
posEntryMode                638569 non-null object
posOnPremises               0 non-null float64
recurringAuthInd            0 non-null float64
transactionAmount           641914 non-null float64
transactionDateTime         641914 non-null object
transactionType             641325 non-null object
dtypes: bool(3), float64(10), object(16)
memory usage: 129.2+ MB

In [12]:
df.describe()

,availableMoney,creditLimit,currentBalance,echoBuffer,merchantCity,merchantState,merchantZip,posOnPremises,recurringAuthInd,transactionAmount
count,641914.000000,641914.000000,641914.000000,0.0,0.0,0.0,0.0,0.0,0.0,641914.000000
mean,6652.828573,10697.210608,4044.382035,NaN,NaN,NaN,NaN,NaN,NaN,135.162497
std,9227.132275,11460.359133,5945.510224,NaN,NaN,NaN,NaN,NaN,NaN,147.053302
min,-1244.930000,250.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,1114.970000,5000.000000,502.442500,NaN,NaN,NaN,NaN,NaN,NaN,32.320000
50%,3578.165000,7500.000000,2151.860000,NaN,NaN,NaN,NaN,NaN,NaN,85.800000
75%,8169.185000,15000.000000,5005.890000,NaN,NaN,NaN,NaN,NaN,NaN,189.030000
max,50000.000000,50000.000000,47496.500000,NaN,NaN,NaN,NaN,NaN,NaN,1825.250000

In [13]:
df.isna().sum()

accountNumber                    0
accountOpenDate                  0
acqCountry                    3913
availableMoney                   0
cardCVV                          0
cardLast4Digits                  0
cardPresent                      0
creditLimit                      0
currentBalance                   0
currentExpDate                   0
customerId                       0
dateOfLastAddressChange          0
echoBuffer                  641914
enteredCVV                       0
expirationDateKeyInMatch         0
isFraud                          0
merchantCategoryCode             0
merchantCity                641914
merchantCountryCode            624
merchantName                     0
merchantState               641914
merchantZip                 641914
posConditionCode               287
posEntryMode                  3345
posOnPremises               641914
recurringAuthInd            641914
transactionAmount                0
transactionDateTime              0
transactionType                589
dtype: int64

In [14]:
df_v2 = df.drop(['echoBuffer', 'merchantCity', 'merchantState', 'merchantZip', 'posOnPremises','recurringAuthInd'], axis=1)
df_v2.head()

,accountNumber,accountOpenDate,acqCountry,availableMoney,cardCVV,cardLast4Digits,cardPresent,creditLimit,currentBalance,currentExpDate,...,expirationDateKeyInMatch,isFraud,merchantCategoryCode,merchantCountryCode,merchantName,posConditionCode,posEntryMode,transactionAmount,transactionDateTime,transactionType
0,733493772,2014-08-03,US,5000.00,492,9184,False,5000.0,0.00,04/2020,...,False,True,rideshare,US,Lyft,01,05,111.33,2016-01-08T19:04:50,PURCHASE
1,733493772,2014-08-03,US,4888.67,492,9184,False,5000.0,111.33,06/2023,...,False,False,rideshare,US,Uber,01,09,24.75,2016-01-09T22:32:39,PURCHASE
2,733493772,2014-08-03,US,4863.92,492,9184,False,5000.0,136.08,12/2027,...,False,False,rideshare,US,Lyft,01,05,187.40,2016-01-11T13:36:55,PURCHASE
3,733493772,2014-08-03,US,4676.52,492,9184,False,5000.0,323.48,09/2029,...,False,True,rideshare,US,Lyft,01,02,227.34,2016-01-11T22:47:46,PURCHASE
4,733493772,2014-08-03,US,4449.18,492,9184,False,5000.0,550.82,10/2024,...,False,False,rideshare,US,Lyft,01,02,0.00,2016-01-16T01:41:11,ADDRESS_VERIFICATION

In [15]:
df_v2.isna().sum()

accountNumber                  0
accountOpenDate                0
acqCountry                  3913
availableMoney                 0
cardCVV                        0
cardLast4Digits                0
cardPresent                    0
creditLimit                    0
currentBalance                 0
currentExpDate                 0
customerId                     0
dateOfLastAddressChange        0
enteredCVV                     0
expirationDateKeyInMatch       0
isFraud                        0
merchantCategoryCode           0
merchantCountryCode          624
merchantName                   0
posConditionCode             287
posEntryMode                3345
transactionAmount              0
transactionDateTime            0
transactionType              589
dtype: int64

In [16]:
df_v2.shape

(641914, 23)

In [17]:
df_v2.acqCountry.value_counts(dropna=False)

US     632303
NaN      3913
MEX      2626
CAN      1870
PR       1202
Name: acqCountry, dtype: int64

In [18]:
df_v2.dropna(how='any', subset=['acqCountry'], inplace=True)
df_v2.head()

,accountNumber,accountOpenDate,acqCountry,availableMoney,cardCVV,cardLast4Digits,cardPresent,creditLimit,currentBalance,currentExpDate,...,expirationDateKeyInMatch,isFraud,merchantCategoryCode,merchantCountryCode,merchantName,posConditionCode,posEntryMode,transactionAmount,transactionDateTime,transactionType
0,733493772,2014-08-03,US,5000.00,492,9184,False,5000.0,0.00,04/2020,...,False,True,rideshare,US,Lyft,01,05,111.33,2016-01-08T19:04:50,PURCHASE
1,733493772,2014-08-03,US,4888.67,492,9184,False,5000.0,111.33,06/2023,...,False,False,rideshare,US,Uber,01,09,24.75,2016-01-09T22:32:39,PURCHASE
2,733493772,2014-08-03,US,4863.92,492,9184,False,5000.0,136.08,12/2027,...,False,False,rideshare,US,Lyft,01,05,187.40,2016-01-11T13:36:55,PURCHASE
3,733493772,2014-08-03,US,4676.52,492,9184,False,5000.0,323.48,09/2029,...,False,True,rideshare,US,Lyft,01,02,227.34,2016-01-11T22:47:46,PURCHASE
4,733493772,2014-08-03,US,4449.18,492,9184,False,5000.0,550.82,10/2024,...,False,False,rideshare,US,Lyft,01,02,0.00,2016-01-16T01:41:11,ADDRESS_VERIFICATION

In [19]:
df_v2.isna().sum()

accountNumber                  0
accountOpenDate                0
acqCountry                     0
availableMoney                 0
cardCVV                        0
cardLast4Digits                0
cardPresent                    0
creditLimit                    0
currentBalance                 0
currentExpDate                 0
customerId                     0
dateOfLastAddressChange        0
enteredCVV                     0
expirationDateKeyInMatch       0
isFraud                        0
merchantCategoryCode           0
merchantCountryCode            1
merchantName                   0
posConditionCode             285
posEntryMode                3290
transactionAmount              0
transactionDateTime            0
transactionType              584
dtype: int64

In [20]:
df_v2.transactionType.value_counts(dropna=False)

PURCHASE                604954
ADDRESS_VERIFICATION     16389
REVERSAL                 16074
NaN                        584
Name: transactionType, dtype: int64

In [21]:
df_v2.dropna(how='any', subset=['transactionType'], inplace=True)

In [22]:
df_v2.posEntryMode.value_counts(dropna=False)

05     253854
09     191823
02     159499
90      16119
80      12834
NaN      3288
Name: posEntryMode, dtype: int64

In [23]:
df_v2.posConditionCode.value_counts(dropna=False)

01     510538
08     120653
99       5941
NaN       285
Name: posConditionCode, dtype: int64

In [24]:
df_v2.dropna(how='any', subset=['transactionType', 'posConditionCode'], inplace=True)

In [25]:
def convertCatColumn(df, col):
    df = pd.concat([df, pd.get_dummies(df[col],prefix=col,prefix_sep=':')], axis=1)
    return df

In [26]:
cat_col =['acqCountry','cardPresent','expirationDateKeyInMatch','isFraud','merchantCategoryCode',
          'merchantCountryCode','merchantName','posConditionCode','posEntryMode','transactionType']

In [27]:
clean_data = convertCatColumn(df_v2, 'acqCountry')
clean_data = convertCatColumn(clean_data, 'cardPresent')
clean_data = convertCatColumn(clean_data, 'expirationDateKeyInMatch')
clean_data = convertCatColumn(clean_data, 'merchantCategoryCode')
clean_data = convertCatColumn(clean_data, 'merchantCountryCode')
clean_data = convertCatColumn(clean_data, 'posConditionCode')
clean_data = convertCatColumn(clean_data, 'posEntryMode')
clean_data = convertCatColumn(clean_data, 'transactionType')


clean_data.drop('acqCountry', axis=1,inplace=True)
clean_data.drop('cardPresent', axis=1,inplace=True)
clean_data.drop('expirationDateKeyInMatch', axis=1,inplace=True)
clean_data.drop('merchantCategoryCode', axis=1,inplace=True)
clean_data.drop('merchantCountryCode', axis=1,inplace=True)
clean_data.drop('posConditionCode', axis=1,inplace=True)
clean_data.drop('posEntryMode', axis=1,inplace=True)
clean_data.drop('transactionType', axis=1,inplace=True)

clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 637132 entries, 0 to 641913
Data columns (total 57 columns):
accountNumber                                637132 non-null object
accountOpenDate                              637132 non-null object
availableMoney                               637132 non-null float64
cardCVV                                      637132 non-null object
cardLast4Digits                              637132 non-null object
creditLimit                                  637132 non-null float64
currentBalance                               637132 non-null float64
currentExpDate                               637132 non-null object
customerId                                   637132 non-null object
dateOfLastAddressChange                      637132 non-null object
enteredCVV                                   637132 non-null object
isFraud                                      637132 non-null bool
merchantName                                 637132 non-null object
transactionAmount                            637132 non-null float64
transactionDateTime                          637132 non-null object
acqCountry:CAN                               637132 non-null uint8
acqCountry:MEX                               637132 non-null uint8
acqCountry:PR                                637132 non-null uint8
acqCountry:US                                637132 non-null uint8
cardPresent:False                            637132 non-null uint8
cardPresent:True                             637132 non-null uint8
expirationDateKeyInMatch:False               637132 non-null uint8
expirationDateKeyInMatch:True                637132 non-null uint8
merchantCategoryCode:airline                 637132 non-null uint8
merchantCategoryCode:auto                    637132 non-null uint8
merchantCategoryCode:cable/phone             637132 non-null uint8
merchantCategoryCode:entertainment           637132 non-null uint8
merchantCategoryCode:fastfood                637132 non-null uint8
merchantCategoryCode:food                    637132 non-null uint8
merchantCategoryCode:food_delivery           637132 non-null uint8
merchantCategoryCode:fuel                    637132 non-null uint8
merchantCategoryCode:furniture               637132 non-null uint8
merchantCategoryCode:gym                     637132 non-null uint8
merchantCategoryCode:health                  637132 non-null uint8
merchantCategoryCode:hotels                  637132 non-null uint8
merchantCategoryCode:mobileapps              637132 non-null uint8
merchantCategoryCode:online_gifts            637132 non-null uint8
merchantCategoryCode:online_retail           637132 non-null uint8
merchantCategoryCode:online_subscriptions    637132 non-null uint8
merchantCategoryCode:personal care           637132 non-null uint8
merchantCategoryCode:rideshare               637132 non-null uint8
merchantCategoryCode:subscriptions           637132 non-null uint8
merchantCountryCode:CAN                      637132 non-null uint8
merchantCountryCode:MEX                      637132 non-null uint8
merchantCountryCode:PR                       637132 non-null uint8
merchantCountryCode:US                       637132 non-null uint8
posConditionCode:01                          637132 non-null uint8
posConditionCode:08                          637132 non-null uint8
posConditionCode:99                          637132 non-null uint8
posEntryMode:02                              637132 non-null uint8
posEntryMode:05                              637132 non-null uint8
posEntryMode:09                              637132 non-null uint8
posEntryMode:80                              637132 non-null uint8
posEntryMode:90                              637132 non-null uint8
transactionType:ADDRESS_VERIFICATION         637132 non-null uint8
transactionType:PURCHASE                     637132 non-null uint8
transactionType:REVERSAL                     637132 non-null uint8
dtypes: bool(1), float64(4), object(10), uint8(42)
memory usage: 99.0+ MB

In [28]:
df_v2.isFraud.value_counts(dropna=False)

False    625990
True      11142
Name: isFraud, dtype: int64

In [31]:
clean_data['isFraud'] = df_v2['isFraud'].apply(lambda x: 0 if x == True else 1)

In [32]:
clean_data.head()

,accountNumber,accountOpenDate,availableMoney,cardCVV,cardLast4Digits,creditLimit,currentBalance,currentExpDate,customerId,dateOfLastAddressChange,...,posConditionCode:08,posConditionCode:99,posEntryMode:02,posEntryMode:05,posEntryMode:09,posEntryMode:80,posEntryMode:90,transactionType:ADDRESS_VERIFICATION,transactionType:PURCHASE,transactionType:REVERSAL
0,733493772,2014-08-03,5000.00,492,9184,5000.0,0.00,04/2020,733493772,2014-08-03,...,0,0,0,1,0,0,0,0,1,0
1,733493772,2014-08-03,4888.67,492,9184,5000.0,111.33,06/2023,733493772,2014-08-03,...,0,0,0,0,1,0,0,0,1,0
2,733493772,2014-08-03,4863.92,492,9184,5000.0,136.08,12/2027,733493772,2014-08-03,...,0,0,0,1,0,0,0,0,1,0
3,733493772,2014-08-03,4676.52,492,9184,5000.0,323.48,09/2029,733493772,2014-08-03,...,0,0,1,0,0,0,0,0,1,0
4,733493772,2014-08-03,4449.18,492,9184,5000.0,550.82,10/2024,733493772,2014-08-03,...,0,0,1,0,0,0,0,1,0,0

In [1]:
Need to handle date and datetime like accountOpenDate, currentExpDate , dateOfLastAddressChange ad

SyntaxError: invalid syntax (<ipython-input-1-175d199a7bcc>, line 1)